click==6.7
defusedxml==0.4.1
Flask==2.3.2
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==0.23
mysql-connector-python==8.0.27
python3-openid==3.0.10
simplejson==3.10.0
SQLAlchemy==1.3.0
Werkzeug==0.15.3
