{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block head %}
    <style type="text/css">
    .content-main{
        line-height:1.5em;
        margin:5% auto;
        width:640px;
    }
    .content-main p,
    .content-main ul li{
        color: #B0AEAC;
    }
    .content-main h2{
        text-align:center;
    }
    .content-main li{
        margin:1em 0px;
    }
    </style>
{% endblock %}
{% block content %}
<div class="content-main" style="margin:0px auto 20px auto;width:100%;max-width:640px;">
    <h2>Privacy Policy</h2>
    <p>{{ config.APP_NAME }} does not collect information on any of its visitors except in the following circumstances:</p>
    <ul>
        <li>{{ config.APP_NAME }} uses Google Analytics. Data collected via Google Analytics is used to analyze site performance, prioritize features, and enhance user experience. If you'd like to not be tracked via Google Analytics, consider using a browser extension like <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics Opt-out Browser Add-on</a>. I personally like <a href="https://www.eff.org/privacybadger">Privacy Badger</a>, but there are plenty of options out there.</li>
        <li>{{ config.APP_NAME }} uses the Valve's Steam APIs to retrieve data about the account you've looked up. This account data is only available if <a href="https://support.steampowered.com/kb_article.php?ref=4113-YUDH-6401">you've made your Steam profile public.</a></li>
        <li>If you choose to log into {{ config.APP_NAME }} with your Steam password, Valve will provide {{ config.APP_NAME }} with your Steam ID number. <strong>No other information about your account is available unless you've made it publicly accessible in your Steam profile.</strong> This ID number may be stored as a cookie in your browser for easier account look-ups but is not used for any other purpose by {{ config.APP_NAME }}, and is not required to use {{ config.APP_NAME }}.</li>
    </ul>
    <br/>
    <p>Except in the circumstances listed above or when required by law, {{ config.APP_NAME }} does not actively share user data with third parties.</p>
    <p>If this policy changes at any point, it will be made known via the "Updates" section of the homepage.</p>
    <p>Your online privacy is actually really important to me. If you have ideas, concerns, or questions about anything on this page, please feel free to e-mail me at <a href="mailto:{{ config.SUPPORT_EMAIL }}">{{ config.SUPPORT_EMAIL }}</a>. While you're at it, <a href="https://supporters.eff.org/donate">consider donating to Electronic Frontier Foundation</a> and supporting all the good work they do for the Internet and its users.</p>
    <br/>
    <h2>Advertising</h2>
    <p>{{ config.APP_NAME }} does not currently run any ads or participate in any affiliate programs. If we do, those programs will be listed here and this policy will be updated as needed.</p>
    <br>
    <p style="font-size:0.7em;"><span class="bold">Last Updated:</span> January 12, 2017</p>
</div>
{% endblock %}
